@font-face {
  font-family: 'DIN';
  src: url(din-next-rounded-lt-pro-regular.otf);
}

@font-face {
    font-family: 'DIN';
    src: url(din-next-rounded-lt-pro-light.otf);
    font-weight: lighter;
}

@font-face {
    font-family: 'DIN';
    src: url(din-next-rounded-lt-pro-medium.otf);
    font-weight: bold;
}

body 
{
  font-family: 'DIN', 'trebuchet MS', arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #7b7b7b;
  background: #fbfbfb;
  width: 100%;
}

.container.custom
{
	background-color: white;
	padding:0px;
}

@media(min-width: 1490px)
{
	.container.custom
	{
		width: 1490px;
	}
}

.tim-logo
{
	padding-top: 0px;
}

.tim-logo img
{
	width: 135px;
}

.tim-link
{
	color: #1f83ff;
}

.navbar-custom
{
	background: #272727; /* Old browsers */
	background: -moz-linear-gradient(top, #272727 0%, #000000 100%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #272727 0%,#000000 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #272727 0%,#000000 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272727', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	border-color: transparent;
	border-top: 2px solid #FFF;
	border-radius: 0px;
	padding: 12px 0;
}

.navbar-custom ul.nav li a
{
	text-transform: uppercase;
	color: #a7a7a7;
}

.navbar-custom ul.nav li a:hover
{
	color: white;
	background-color: transparent;
}

.navbar-custom ul.nav li a.login
{
	background: #3f3f3f; /* Old browsers */
	background: -moz-linear-gradient(top, #3f3f3f 0%, #1b1b1b 100%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #3f3f3f 0%,#1b1b1b 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #3f3f3f 0%,#1b1b1b 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-radius: 5px;
	border: 1px solid black;
	color: white;
	padding-left: 30px; 
	padding-right: 30px;
	box-shadow: inset 0px -7px 5px rgba(0,0,0,0.3);

	transition: 2000ms ease;
}

.navbar-custom ul.nav li a.login:hover
{
	background: #6d6d6d; /* Old browsers */
	background: -moz-linear-gradient(top, #6d6d6d 0%, #444444 100%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #6d6d6d 0%,#444444 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #6d6d6d 0%,#444444 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.navbar-header,
.navbar-center-custom
{
	float:none;
    display:inline-block !important;
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
}

.title-text
{
	margin-top: 90px;
	text-align: center;
}

.title-text h1
{
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	font-size: 63px;
}

.title-text h4
{
	font-size: 25px;
	font-weight: lighter;
	color: #7b7b7b;
	margin-top: 30px;
	margin-bottom: 50px;
}

.media-credit
{
	background-color: #f2f2f2;
	display: inline-block;
	padding-top: 80px;
	padding-bottom: 100px;
}

.media-credit div.icon
{
	text-align: center;
	padding-top: 35px;
}

.media-text p.title
{
	text-transform: uppercase;
	font-size: 35px;
	color: black;
}

.media-text p.info
{
	width: 73%;
	font-size: 25px;
}

.media-text.contract
{
	margin-top: 110px;
	text-align: center;
}

.media-text.contract p.info
{
	width: 100%
}

.credit-options
{
	display: inline-flex;
	margin-top: 80px;
	justify-content: center;

}

.credit-options .icon
{
	width: 269px;
	text-align: center;
	padding: 0px 12px;
}

.credit-options .icon img
{
	padding-bottom: 45px;
	height: 180px;
}

.credit-options .icon p
{
	font-size: 25px;
}

.credit-options .separator 
{
	padding-top: 50px;
}

.credit-options .separator span
{
	color: black;
	font-size: 35px;
}

.consult-services
{
	text-align: center;
	margin-top: 135px;
	margin-bottom: 100px;
}

.consult-services span
{
	font-size: 30px;
	font-weight: lighter;
	color: #7b7b7b;
}

.footer
{
	background-color: #f7f7f7;
	border-top: 1px solid #e0e0e0;
	padding: 40px 250px;
}

.footer .left ul
{
	list-style-type: none;
	padding-left: 0px;
}

.footer h4
{
	color: black;
	font-size: 17px;
	margin-bottom: 30px;
}

.footer .promotional-text
{
	margin-top: 30px;
}

.footer .promotional-text.right-align
{
	text-align: right;
}

.footer a
{
	color: #326bd3;
}

.footer .right
{
	float: right;
	text-align: right;
	line-height: 1.1;
}

.footer .right .media-links
{
	margin-bottom: 30px;
	margin-top: 10px;
}

.footer .right i
{
	padding-left: 25px;
	color: black;
	font-size: 16px;
}

.footer .right img
{
	width: 15px;
	height: 15px;
	padding: 2px;
	background-color: black;
	border-radius: 4px;
	margin-left: 24px;
}